

@media (prefers-reduced-motion: no-preference) {
  .prfImg {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #282c34;
}

.prfImg {
  height: 200px;
  width: 200px;
}

.sidebar {
  background-color: rgb(160, 24, 103);;
  color: #fff;
  width: 200px;
  padding: 0px;
  position: absolute;
  top: 0px;
  height: fit-content;
  text-align: center;
}

.sdHeader {
  background-color: rgb(212, 47, 111);
  font-size: 30px;
  font-weight: 500;
  height: 50px;
  padding-top: 10px;
  text-align: center;
}

.sidebar ul {
  text-decoration: none;
  list-style: none;
  display: block;
  padding: 10px;
}
.sidebar ul li {
  background-color: rgb(80, 6, 52);
  margin-top: 20px;
  display: block;
  text-align: center;
  padding: 10px;
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  border-radius: 10px;
}

.sidebar ul li:hover {
  background-color:rgb(102, 16, 66);
  cursor: pointer;
  user-select: none;
}

.sidebar ul li i {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
  
}

.dashboard {
  /*background-color:rgb(80, 6, 52);*/
  transform: translateX(200px);
  height: 100%;
  position: absolute;
  z-index: 1;
  width: 90vw;
}

.dashboard .searchBar {
  color: white;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
}

.dashboard .searchBar ul {
  list-style: none;
}

.dashboard .searchBar ul li {
  display: inline-block;
  color: white;
  margin: 7px;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 90%;
}

table thead {
  background-color:rgb(14, 13, 13);
}

table thead th {
  padding: 10px 0 10px 0;
  color: white;
}

table tbody td {
  padding: 10px 0 10px 0;
  text-align: center;
  color: rgb(200, 199, 199);
}

table tbody tr:nth-child(2n) {
  background-color:rgb(37, 37, 37);
}

.table {
  margin-top: 20px;
}

.table .tbHeader {
  color:rgb(200, 199, 199);
  /*margin-left:100px;*/
  width: 89%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navStl {
  display:inline-block;
  height:32px;
  width:30px;
  background-color:black;
  margin:5px;
  font-size:23px;
  text-align:center;
  border-radius:10px;
  cursor: pointer;
  user-select: none;
}

.navStl:hover {
  background-color:rgb(27, 27, 27);
}