.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.prfImg {
  height: 200px;
  width: 200px;
}

.sidebar {
  background-color: rgb(160, 24, 103);;
  color: #fff;
  width: 250px;
  padding: 0px;
  position: absolute;
  height: 100%;
}

.sdHeader {
  background-color: rgb(212, 47, 111);
  font-size: 30px;
  font-weight: 500;
  height: 50px;
  padding-top: 10px;
}

ul {
  text-decoration: none;
  list-style: none;
  display: block;
  padding: 10px;
}
ul li {
  background-color: rgb(80, 6, 52);
  margin-top: 20px;
  display: block;
  text-align: center;
  padding: 10px;
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  border-radius: 10px;
}

ul li:hover {
  background-color:rgb(102, 16, 66);
  cursor: pointer;
  user-select: none;
}

ul li i {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
  
}